@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DE+SAS:wght@100..400&display=swap');

:root {
    --primary-color: rgba(68, 68, 68, 0.247);
    --second-color: rgb(0, 0, 0);
}


* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 39);
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    line-height: 1.8em;
    display: flex;
    justify-content: space-evenly;
    background-image:url(./img/nos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 540px;
    margin: 50px auto;
    background-color:rgb(255, 255, 255,0.3);
    border-radius: 20px;
    padding: 20px;
    flex: 1;
    box-sizing: border-box;
    
    

}

#resultado {
   display: grid;
   
}

form input,form label,form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 25px;
    height: 25px;
    padding: 0 20px;
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--second-color);
}

.presente-aniversario {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

.presente-aniversario:hover {
      background: var(--second-color);

}

.video {
    width: 100%;    
    border-radius: 15px;
    border: #fff 1px solid;
}

.botao {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;

}

.botao:hover {
    background: var(--second-color);
}